.auth__wrapper {
    background-color: rgb(229 231 235);

    [theme=dark] & {
        background: unset;
    }

    .auth__container {
            --edge-offset-x: 0;

        .auth__layout {
            height: 100dvh;

            @media (width >=576px) {
                padding-block: var(--gap-x);
            }

            .auth__text_wrapper {
                margin-bottom: 2rem;

                .auth__header {
                    line-height: 1;
                }
            }

            .form__wrapper, .brand__space {
                padding: clamp(1.5rem, 2.5vw, 3rem);
                background-color: rgba(var(--bg-color-rgb), .5);
                border-radius: .5rem;
                overflow: auto;
                scrollbar-width: thin;

                [theme=dark] & {
                    background: var(--bg);
                }

                &.form__wrapper {

                    .social__wrapper {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        gap: .75rem;
                        padding: .5rem;
                        background-color: rgba(var(--bg-color-rgb), .5);
                        border-radius: .5rem;

                        .social__text {
                            font-size: 1.2rem;
                            opacity: .7;
                            padding-left: .25rem;
                        }

                        .social__button_wrapper {
                            display: flex;
                            justify-content: space-between;
                            flex-grow: 1;
                            gap: .5rem;

                            .social__button {
                                padding: .5rem;
                                flex-grow: 1;
                                background-color: var(--bg-color);

                                @media (width >=576px) {
                                    padding: .75rem;  
                                }

                                .icon {
                                    height: 1.5em;
                                }
                            }
                        }
                    }
                }

                .auth__form {
                    display: flex;
                    flex-direction: column;

                    .password__action_wrapper {
                        display: flex;
                        justify-content: space-between;

                        .link {
                            color: inherit;
                        }
                    }

                    .submit__btn {
                        --padding-y: 1rem;
                        margin-top: 1rem;
                        line-height: inherit;
                    }

                    @media (width >=576px) {
                        input, .submit__btn {
                            --padding-y: 1.25rem;
                        }
                    }
                }

                .passkey__wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: .25rem;
                    width: 100%;
                    padding: .85rem .75rem;
                    border-radius: .5rem;
                    margin-bottom: .5rem;
                    background-color: var(--bg-color);
    
                    @media (width >=576px) {
                        padding: 1.15rem .75rem;
                    }
    
                    .icon {
                        height: 1.75em;
                        margin-top: -.1em;
                    }
    
                    .passkey__text {
                        font-size: 1.2rem;
                        line-height: 1;
                        opacity: .7;
                    }
                }

                .other__info_wrapper {
                    margin-top: 1.5rem;

                    .legal__info_wrapper {
                        text-align: center;
                        margin-top: 5rem;
                    }

                    .legal__text, .legal__link {
                        font-size: .85rem;
                        opacity: .6;
                        color: inherit;
                    }

                    .auth__link_text, .auth__link {
                        font-size: .95rem;
                    }
                }

                .divider__wrapper {
                    display: flex;
                    align-items: center;
                    opacity: .6;
                    margin-block: 1rem;

                    &::before, &::after {
                        content: '';
                        flex-grow: 1;
                        height: 1px;
                        background-color: currentColor;
                        opacity: .1;
                    }

                    .divider {
                        line-height: 1;
                        padding: .5rem;
                    }
                }

                &.brand__space {
                    display: none;

                    @media (width >=992px) {
                        display: block;
                    }

                    .dummy__brand_wrapper {
                        height: 100%;
                        display: grid;
                        align-content: end;

                        .dummy__text {
                            text-transform: uppercase;
                            text-box: trim-both cap alphabetic;
                            font-size: clamp(4.5rem, 4.5vw, 9.5rem);
                            line-height: 1.2;
                            opacity: .3;
                        }

                    }
                }
            }
        }
    }
}